In [4]:
import kagglehub
import pandas as pd

In [ ]:
# Download latest version
path = kagglehub.dataset_download("sooyoungher/smoking-drinking-dataset")
print("Path to dataset files:", path)

file_name = "smoking_driking_dataset_Ver01.csv"
file_path = f"{path}/{file_name}"
dataset = pd.read_csv(file_path)

In [5]:
# Analisi iniziale del dataset
print("\nPrime righe del dataset:")
print(dataset.head())

print("\nDimensioni del dataset:")
print(dataset.shape)

print("\nTipi di dati:")
print(dataset.info())

print("\nStatistiche descrittive di base:")
print(dataset.describe())

Prime righe del dataset:
    sex  age  height  weight  waistline  sight_left  sight_right  hear_left  \
0  Male   35     170      75       90.0         1.0          1.0        1.0
1  Male   30     180      80       89.0         0.9          1.2        1.0
2  Male   40     165      75       91.0         1.2          1.5        1.0
3  Male   50     175      80       91.0         1.5          1.2        1.0
4  Male   50     165      60       80.0         1.0          1.2        1.0

   hear_right    SBP  ...  LDL_chole  triglyceride  hemoglobin  urine_protein  \
0         1.0  120.0  ...      126.0          92.0        17.1            1.0
1         1.0  130.0  ...      148.0         121.0        15.8            1.0
2         1.0  120.0  ...       74.0         104.0        15.8            1.0
3         1.0  145.0  ...      104.0         106.0        17.6            1.0
4         1.0  138.0  ...      117.0         104.0        13.8            1.0

   serum_creatinine  SGOT_AST  SGOT_ALT  gamma_GTP  SMK_stat_type_cd  DRK_YN
0               1.0      21.0      35.0       40.0               1.0       Y
1               0.9      20.0      36.0       27.0               3.0       N
2               0.9      47.0      32.0       68.0               1.0       N
3               1.1      29.0      34.0       18.0               1.0       N
4               0.8      19.0      12.0       25.0               1.0       N

[5 rows x 24 columns]

Dimensioni del dataset:
(991346, 24)

Tipi di dati:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991346 entries, 0 to 991345
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sex               991346 non-null  object
 1   age               991346 non-null  int64
 2   height            991346 non-null  int64
 3   weight            991346 non-null  int64
 4   waistline         991346 non-null  float64
 5   sight_left        991346 non-null  float64
 6   sight_right       991346 non-null  float64
 7   hear_left         991346 non-null  float64
 8   hear_right        991346 non-null  float64
 9   SBP               991346 non-null  float64
 10  DBP               991346 non-null  float64
 11  BLDS              991346 non-null  float64
 12  tot_chole         991346 non-null  float64
 13  HDL_chole         991346 non-null  float64
 14  LDL_chole         991346 non-null  float64
 15  triglyceride      991346 non-null  float64
 16  hemoglobin        991346 non-null  float64
 17  urine_protein     991346 non-null  float64
 18  serum_creatinine  991346 non-null  float64
 19  SGOT_AST          991346 non-null  float64
 20  SGOT_ALT          991346 non-null  float64
 21  gamma_GTP         991346 non-null  float64
 22  SMK_stat_type_cd  991346 non-null  float64
 23  DRK_YN            991346 non-null  object
dtypes: float64(19), int64(3), object(2)
memory usage: 181.5+ MB
None

Statistiche descrittive di base:
                 age         height         weight      waistline  \
count  991346.000000  991346.000000  991346.000000  991346.000000
mean       47.614491     162.240625      63.284050      81.233358
std        14.181339       9.282957      12.514241      11.850323
min        20.000000     130.000000      25.000000       8.000000
25%        35.000000     155.000000      55.000000      74.100000
50%        45.000000     160.000000      60.000000      81.000000
75%        60.000000     170.000000      70.000000      87.800000
max        85.000000     190.000000     140.000000     999.000000

          sight_left    sight_right      hear_left     hear_right  \
count  991346.000000  991346.000000  991346.000000  991346.000000
mean        0.980834       0.978429       1.031495       1.030476
std         0.605949       0.604774       0.174650       0.171892
min         0.100000       0.100000       1.000000       1.000000
25%         0.700000       0.700000       1.000000       1.000000
50%         1.000000       1.000000       1.000000       1.000000
75%         1.200000       1.200000       1.000000       1.000000
max         9.900000       9.900000       2.000000       2.000000

                 SBP            DBP  ...      HDL_chole      LDL_chole  \
count  991346.000000  991346.000000  ...  991346.000000  991346.000000
mean      122.432498      76.052627  ...      56.936800     113.037692
std        14.543148       9.889365  ...      17.238479      35.842812
min        67.000000      32.000000  ...       1.000000       1.000000
25%       112.000000      70.000000  ...      46.000000      89.000000
50%       120.000000      76.000000  ...      55.000000     111.000000
75%       131.000000      82.000000  ...      66.000000     135.000000
max       273.000000     185.000000  ...    8110.000000    5119.000000

        triglyceride     hemoglobin  urine_protein  serum_creatinine  \
count  991346.000000  991346.000000  991346.000000     991346.000000
mean      132.141751      14.229824       1.094224          0.860467
std       102.196985       1.584929       0.437724          0.480530
min         1.000000       1.000000       1.000000          0.100000
25%        73.000000      13.200000       1.000000          0.700000
50%       106.000000      14.300000       1.000000          0.800000
75%       159.000000      15.400000       1.000000          1.000000
max      9490.000000      25.000000       6.000000         98.000000

            SGOT_AST       SGOT_ALT      gamma_GTP  SMK_stat_type_cd
count  991346.000000  991346.000000  991346.000000     991346.000000
mean       25.989308      25.755051      37.136347          1.608122
std        23.493386      26.308599      50.424153          0.818507
min         1.000000       1.000000       1.000000          1.000000
25%        19.000000      15.000000      16.000000          1.000000
50%        23.000000      20.000000      23.000000          1.000000
75%        28.000000      29.000000      39.000000          2.000000
max      9999.000000    7210.000000     999.000000          3.000000

[8 rows x 22 columns]

### Prime considerazioni

I dati sembrano non contenere dati nulli o NaN, però si osserva facilmente che per alcune feature ci sono dei dati che sembrano essere irrealistici (Es.: per la feature **waistline** la media risulta essere _81_, il 4° quartile _87_ e il valore massimo _999_); quindi nonostante la non presenza di valori nulli, probabilmente si dovranno eseguire delle operazioni di pulizia dei dati.